{
  "applications" : [ {
    "name" : "Coral",
    "icon" : null,
    "vmArgs" : "-DnoKeepAlive=true -client",
    "classPathEntries" : [ "/var/tmp/coral/*.jar" ],
    "homeDir" : "${user.dir}",
    "theme" : "Murrine",
    "maxClients" : 50,
    "antiAliasText" : true,
    "swingSessionTimeout" : 300,
    "authorization" : false,
    "isolatedFs" : false,
    "debug" : true,
    "authentication" : false,
    "directdraw" : false,
    "allowDelete" : false,
    "allowDownload" : false,
    "allowUpload" : false,
    "allowJsLink" : false,
    "mainClass" : "org.opencoral.main.Coral",
    "args" : "-propertyFile=remote -locale=en,US"
  }],
  "applets" : []
}
